.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    z-index: 5;
    color: var(--white);

    li {
        margin: 0 1rem;
    }

    a {
        text-decoration: none;
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
            
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 70%;
        }
    }


    @media screen and (max-width: 767px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    position: relative;

    svg {
        width: 70%;
        height: 70%;
        color: var(--white);
        cursor: pointer;
        z-index: 5;  
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 9;

        padding: 1rem;

        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;

        backdrop-filter: blur(15px);

        svg {
            width: 35px;
            height: 35px;
            color: var(--white);
            margin: 0.5rem 1rem;
            cursor: pointer;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                margin: 1rem;

            }

            a {
                color: var(--white);
                text-decoration: none;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;

                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 75%;
                }
              }    
            
        }

        @media screen and (min-width: 767px) {
            display: none;
        }
    }

    @media screen and (min-width: 767px) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .app__navbar button {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .hamburger {
        position: absolute;
        left: 25px;
        top: 15px;
    }
}

.app__navbar button {
    background: none;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    border: 2px solid #fff;
    cursor: pointer;
    z-index: 5;
    
    transition-duration: 1s;

    &:hover {
        background: var(--white);

        a {
           color: var(--black); 
        }
        
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .app__navbar {
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem
    }

    .app__navbar-links {
        display: flex;
        justify-content: flex-start;
    }
}


.app__social{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 25px;
    z-index: 100;

    div {
        margin: 1rem;
        

        a {
            color: #fff;
            transition-duration: 0.5s;
            
            &:hover {
                cursor: pointer;
                color: #aaa;
            }
        }

        
    }
}


