@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat&display=swap');

:root {
    --font-base: 'Montserrat', sans-serif;
    --font-title: 'Libre Baskerville', serif;

    --light-beige: #fefae0;
    --light-green: #e9edc9;
    --semi-light-green: #ccd5ae;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-base);
}


@media screen and (min-width: 320px ) {
    .app{
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .app {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .app {
        font-size: 18px;
    }
}